AxonServer/axonserver.jar filter=lfs diff=lfs merge=lfs -text
AxonServer/axonserver-cli.jar filter=lfs diff=lfs merge=lfs -text
AxonServer/axonserver-migration.jar filter=lfs diff=lfs merge=lfs -text
AxonServer/controldb-migration.jar filter=lfs diff=lfs merge=lfs -text
